.about-page{
    overflow: hidden !important;
    min-height: fit-content;
}

.about-wp{
    width: 100vw;
    display: grid;
    grid-template-columns: 43% 57%;
}

.about-title{
    margin: 2vh auto 0 auto;
    font-size: 11em;
    font-weight: 500;
    width: 90%;
    line-height: 100px;
}

.about-title span{
    font-family: var(--secondary-font);
}

.title-about-wp, .p-data-wp{
    width: 100%;
    height: inherit;
}

.p-data-wp{
    display: grid;
    grid-template-columns: 25% auto;
}

.title-cv, .parag-cv{
    font-weight: 500;
    margin: 0;
    font-family: var(--clash-display-variable);
}

.title-cv{
    text-transform: uppercase;
    font-size: 20px;
}

.parag-testimonial{
    width: 90%;
    font-weight: 500;
    font-size: 30px;
    margin: 0;
}

.parag-cv{
    width: 90%;
    font-size: 40px;
}

.work-pos-wp{
    font-family: var(--clash-display-variable);
    margin-top: 60px;
    font-weight: 500;
    font-size: 20px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 50px;
    place-items: center;
}

.cv-job{
    font-size: 20px;
    margin: 0;
    font-weight: 500;
}

.cv-grid{
    display: grid;
    grid-template-columns: 30% 60%;
}

.services-grid{
    display: grid;
    grid-template-columns: repeat(3, 30%);
}

.parag-cv-wp ul{
    padding: 20px;
    width: 90%;
}

.parag-cv-wp ul li{
    font-weight: 500;
    font-size: 20px;
}

.personal-img-wp{
    width: 90%;
    margin: 22.5vh auto 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.serious-cta{
    font-family: var(--clash-display-variable);
    font-size: 20px;
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-weight: 500;
}

hr{
    display: block;
    height: 1px;
    margin: 0;
    border: 0;
    border-top: 1px solid var(--default-lilac);
    width: 90%;
}

.personal-img{
    width: 17vw;
    height: 45vh;
    overflow: hidden;
    position: relative;
}

.img-sizes{
    position: absolute;
    top: -15vh;
    left: -12.5vw;
    border-radius: 10px;
    width: 800px;
}

/* MARQUEE DESIGN */

.text-wrapper h1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.circle{
    display: block;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--default-bg-color);
}