.form-wrapper {
    width: 95vw;
    margin: auto;
}

.form-title {
    font-size: 55px;
    font-weight: 500;
    font-family: var(--clash-display-variable);
    text-align: center;
    width: 100%;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 3%;
    align-items: flex-end;
}

.title-form {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    font-family: var(--clash-display-variable);
}

.form-item {
    margin-top: 10px;
    height: 40px;
    border: solid 1px;
    border-color: var(--default-lilac);
    outline: none;
    background-color: var(--default-bg-color);
}

.form-button {
    width: 45px;
    aspect-ratio: 1;
    border-color: transparent;
    border-radius: 50%;
    background-color: var(--default-lilac);
    cursor: pointer;
}

.material-symbols-outlined {
    color: white;
}

.agree-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    height: 21px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    aspect-ratio: 1;
    background-color: var(--default-bg-color);
    border: solid 1px var(--default-lilac);
    border-radius: 2px;
}

.container:hover input~.checkmark {
    background-color: var(--default-bg-color);
}

.container input:checked~.checkmark {
    background-color: var(--default-lilac);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid var(--default-bg-color);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}