@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

@font-face {
  font-family: 'CabinetGrotesk-Variable';
  src: url('../fonts/CabinetGrotesk-Variable.woff2') format('woff2'),
       url('../fonts/CabinetGrotesk-Variable.woff') format('woff'),
       url('../fonts/CabinetGrotesk-Variable.ttf') format('truetype');
       font-weight: 100 900;
       font-display: swap;
       font-style: normal;
}

/* @font-face {
  font-family: 'CabinetGrotesk-Thin';
  src: url('../fonts/CabinetGrotesk-Thin.woff2') format('woff2'),
       url('../fonts/CabinetGrotesk-Thin.woff') format('woff'),
       url('../fonts/CabinetGrotesk-Thin.ttf') format('truetype');
       font-weight: 100;
       font-display: swap;
       font-style: normal;
} */

/* @font-face {
  font-family: 'CabinetGrotesk-Extralight';
  src: url('../fonts/CabinetGrotesk-Extralight.woff2') format('woff2'),
       url('../fonts/CabinetGrotesk-Extralight.woff') format('woff'),
       url('../fonts/CabinetGrotesk-Extralight.ttf') format('truetype');
       font-weight: 200;
       font-display: swap;
       font-style: normal;
} */

/* @font-face {
  font-family: 'CabinetGrotesk-Light';
  src: url('../fonts/CabinetGrotesk-Light.woff2') format('woff2'),
       url('../fonts/CabinetGrotesk-Light.woff') format('woff'),
       url('../fonts/CabinetGrotesk-Light.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
} */

/* @font-face {
  font-family: 'CabinetGrotesk-Regular';
  src: url('../fonts/CabinetGrotesk-Regular.woff2') format('woff2'),
       url('../fonts/CabinetGrotesk-Regular.woff') format('woff'),
       url('../fonts/CabinetGrotesk-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
} */

@font-face {
  font-family: 'CabinetGrotesk-Medium';
  src: url('../fonts/CabinetGrotesk-Medium.woff2') format('woff2'),
       url('../fonts/CabinetGrotesk-Medium.woff') format('woff'),
       url('../fonts/CabinetGrotesk-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}

/* @font-face {
  font-family: 'CabinetGrotesk-Bold';
  src: url('../fonts/CabinetGrotesk-Bold.woff2') format('woff2'),
       url('../fonts/CabinetGrotesk-Bold.woff') format('woff'),
       url('../fonts/CabinetGrotesk-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
} */

/* @font-face {
  font-family: 'CabinetGrotesk-Extrabold';
  src: url('../fonts/CabinetGrotesk-Extrabold.woff2') format('woff2'),
       url('../fonts/CabinetGrotesk-Extrabold.woff') format('woff'),
       url('../fonts/CabinetGrotesk-Extrabold.ttf') format('truetype');
       font-weight: 800;
       font-display: swap;
       font-style: normal;
} */

/* @font-face {
  font-family: 'CabinetGrotesk-Black';
  src: url('../fonts/CabinetGrotesk-Black.woff2') format('woff2'),
       url('../fonts/CabinetGrotesk-Black.woff') format('woff'),
       url('../fonts/CabinetGrotesk-Black.ttf') format('truetype');
       font-weight: 900;
       font-display: swap;
       font-style: normal;
} */

@font-face {
  font-family: 'ClashDisplay-Variable';
  src: url('../fonts/ClashDisplay-Variable.woff2') format('woff2'),
       url('../fonts/ClashDisplay-Variable.woff') format('woff'),
       url('../fonts/ClashDisplay-Variable.ttf') format('truetype');
       font-weight: 200 700;
       font-display: swap;
       font-style: normal;
}

/* @font-face {
  font-family: 'ClashDisplay-Extralight';
  src: url('../fonts/ClashDisplay-Extralight.woff2') format('woff2'),
       url('../fonts/ClashDisplay-Extralight.woff') format('woff'),
       url('../fonts/ClashDisplay-Extralight.ttf') format('truetype');
       font-weight: 200;
       font-display: swap;
       font-style: normal;
} */

/* @font-face {
  font-family: 'ClashDisplay-Light';
  src: url('../fonts/ClashDisplay-Light.woff2') format('woff2'),
       url('../fonts/ClashDisplay-Light.woff') format('woff'),
       url('../fonts/ClashDisplay-Light.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
} */

/* @font-face {
  font-family: 'ClashDisplay-Regular';
  src: url('../fonts/ClashDisplay-Regular.woff2') format('woff2'),
       url('../fonts/ClashDisplay-Regular.woff') format('woff'),
       url('../fonts/ClashDisplay-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
} */

/* @font-face {
  font-family: 'ClashDisplay-Medium';
  src: url('../fonts/ClashDisplay-Medium.woff2') format('woff2'),
       url('../fonts/ClashDisplay-Medium.woff') format('woff'),
       url('../fonts/ClashDisplay-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
} */

/* @font-face {
  font-family: 'ClashDisplay-Semibold';
  src: url('../fonts/ClashDisplay-Semibold.woff2') format('woff2'),
       url('../fonts/ClashDisplay-Semibold.woff') format('woff'),
       url('../fonts/ClashDisplay-Semibold.ttf') format('truetype');
       font-weight: 600;
       font-display: swap;
       font-style: normal;
} */

/* @font-face {
  font-family: 'ClashDisplay-Bold';
  src: url('../fonts/ClashDisplay-Bold.woff2') format('woff2'),
       url('../fonts/ClashDisplay-Bold.woff') format('woff'),
       url('../fonts/ClashDisplay-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
} */

:root{
  /* --default-lilac: #CCB5E2; */
  --default-lilac: #B59BCE;
  --default-bg-color: #F6F6F4;
  --default-black: #121212;
  --default-brd-rad: 10px;
  --secondary-font: 'Pinyon Script', cursive;
  --clash-display-variable: 'ClashDisplay-Variable';
  --cabinet-variable: 'CabinetGrotesk-Variable';
  --cabinet-regular: 'CabinetGrotesk-Regular';
  --cabinet-thin: 'CabinetGrotesk-Thin';
  --cabinet-extralight: 'CabinetGrotesk-ExtraLight';
  --cabinet-light: 'CabinetGrotesk-Light';
  --cabinet-medium: 'CabinetGrotesk-Medium';
  --cabinet-bold: 'CabinetGrotesk-Bold';
  --cabinet-extrabold: 'CabinetGrotesk-Extrabold';
  --cabinet-black: 'CabinetGrotesk-Black';
  --menu-content: 'menu';
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
  overflow: hidden;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.leva-c-kWgxhW{
  z-index: 100000000 !important;
}

.bot-align{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.top-align{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

body,html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                    supported by Chrome, Edge, Opera and Firefox */
  margin: 0;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  color: var(--default-lilac);
  font-family: var(--clash-display-variable), BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--default-bg-color);
  overscroll-behavior: none;
}

.js-end{
  justify-self: end;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
   color: transparent;
   font-family: var(--clash-display-variable);
   padding: 0 10px;
   font-size: 18px;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
   color: transparent;
   font-family: var(--clash-display-variable);
   padding: 0 10px;
   font-size: 18px;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
   color: transparent;
   font-family: var(--clash-display-variable);
   padding: 0 10px;
   font-size: 18px;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
   color: transparent;
   font-family: var(--clash-display-variable);
   padding: 0 10px;
   font-size: 18px;
}
input::placeholder {
   color: transparent;
   font-family: var(--clash-display-variable);
   padding: 0 10px;
   font-size: 18px;
}

.def-border-radius{
  border-radius: var(--default-brd-rad);
}

.desk-hidden{
  display: none !important;
}

.ox-hidden{
  overflow-x: hidden !important;
}

.ml-10{
  margin-left: 10px !important;
}

.mt-20{
  margin-top: 20px !important;
}

.mt-50{
  margin-top: 50px !important;
}

.mt-70{
  margin-top: 70px !important;
}

.mb-150{
  margin-bottom: 150px !important;
}

.mt-120{
  margin-top: 120px !important;
}

.rev-anim{
  animation-direction: reverse !important;
}

.mtb-200{
  margin: 200px 0 !important;
}
.d-100{
  animation-delay: 100ms !important;
  transition-delay: 100ms !important;
}
.d-150{
  animation-delay: 150ms !important;
  transition-delay: 150ms !important;
}
.d-200{
  animation-delay: 200ms !important;
  transition-delay: 200ms !important;
}
.d-250{
  animation-delay: 250ms !important;
  transition-delay: 250ms !important;
}
.d-300{
  animation-delay: 300ms !important;
  transition-delay: 300ms !important;
}
.d-350{
  animation-delay: 350ms !important;
  transition-delay: 350ms !important;
}
.d-400{
  animation-delay: 400ms !important;
  transition-delay: 400ms !important;
}
.d-500{
  animation-delay: 500ms !important;
  transition-delay: 500ms !important;
}
.d-600{
  animation-delay: 600ms !important;
  transition-delay: 600ms !important;
}
.d-700{
  animation-delay: 700ms !important;
  transition-delay: 700ms !important;
}
.d-800{
  animation-delay: 800ms !important;
  transition-delay: 800ms !important;
}
.d-900{
  animation-delay: 900ms !important;
  transition-delay: 900ms !important;
}
.d-1000{
  animation-delay: 1000ms !important;
  transition-delay: 1000ms !important;
}

/* .fl-bot{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
} */

img{
  border-radius: var(--default-brd-rad) !important;
}

/* MARQUEE DESIGN */
.text-wrapper{
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  background-color: var(--default-lilac);
  overflow: hidden;
  width: fit-content;
  animation: move-rtl 25s linear infinite;
  border: solid 1px var(--default-bg-color);
}

.text-wrapper > h1{
  z-index: 1;
  font-family: var(--clash-display-variable);
  font-weight: 400;
  font-size: 50px;
  margin: 30px 0;
  text-transform: uppercase;
  color: white;
  white-space: nowrap;
  padding: 0 25px;
  letter-spacing: 1px;
}

.r-m4{
  transform: rotate(-4deg);
}

.r-4{
  transform: rotate(4deg);
}

.r-5{
  transform: rotate(5deg);
}

.r-7{
  transform: rotate(7deg);
}

.z-80{
  z-index: 80;
  position: relative;
}

.z-100{
  z-index: 100;
  position: relative;
}

.z--1{
  position: relative;
  z-index: -1;
}

@keyframes move-rtl {
  to{
    transform: translateX(-50%);
  }
}

.cta-wp{
  z-index: 100000;
  position: relative;
  width: 95vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 2vh 0;
}

.text-anim-wp{
  overflow: hidden;
  width: 100%;
  margin: auto;
}

.text-anim{
  display: inline-block;
  transform: translateY(3em) rotate(3deg);
  animation: appear .7s ease-in-out forwards;
  overflow: hidden;
  font-size: 40px;
  font-weight: 500;
}

@keyframes appear {
  to{
      transform: translateY(0) rotate(0deg);
  }
}

.smoothScroll{
  height: 100vh;
}

.button-outline {
	pointer-events: auto;
	cursor: pointer;
	background: rgba(255,255,255,0);
	border: 1px solid var(--default-lilac);
	padding: .4em 2em;
	margin: 0;
	font-family: var(--clash-display-variable) !important;
  font-weight: 500;
	font-size: 18px;
	position: relative;
	display: inline-block;
  text-transform:uppercase !important;
  border-radius:25px;
  color:var(--default-lilac) !important;
	  
}
.button--atlas-outline {
	font-family: var(--clash-display-variable) !important;
	font-weight:500;
  width: fit-content;
}

.button--atlas-outline > span {
	display: inline-block;
}

.button--atlas-outline:hover > span {
	opacity: 0;
}

@media(max-width:1080px){
	.button--atlas-outline:hover>span {
	  opacity: 1!important;
  }
	.marqueebutton-outline {
    display:none;
  }
  .button--atlas-outline:hover .marquee__inner-outline {
    opacity: 0;
  }
}

.marqueebutton-outline {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	pointer-events: none;
}

.marquee__inner-outline {
	width: fit-content;
	display: flex;
	position: relative;
	--offset: 1rem;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	transform: translate3d(var(--move-initial), 0, 0);
	animation: marqueebutton 3s linear infinite !important;
	animation-play-state: paused;
	opacity: 0;
}

.button--atlas-outline:hover .marquee__inner-outline {
	animation-play-state: running;
	opacity: 1;
	transition-duration: 0.4s;
}

.marqueebutton-outline span {
	text-align: center;
	white-space: nowrap;
	padding: .4em 0.3em;
}

@keyframes marqueebutton {
	0% {
    transform: translateX(0);
	}100% {
    transform: translateX(-50%);
	}
}

.btn-hover-reset{
  animation: marqueebutton 3s linear infinite !important;
  animation-play-state: running !important;
  opacity: 1;
}

#hide-btn-default{
  visibility: hidden;
}

/* ================================= loader styles */

.loader-wp{
  z-index: 999999;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}

#myProgress {
  width: 90%;
  background-color: transparent;
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
}

#myBar {
  width: 0%;
  height: 3px;
  background-color: var(--default-lilac);
  text-align: right;
  line-height: 50px;
  color: var(--default-lilac);
}

.appearAnim{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.appearAnim > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 1.2s cubic-bezier(.57,.06,.07,.97);
  background-color: #111;
}

.loadingAnim{
  /* top: 10vh !important; */
  top: 100vh !important;
}

.no-js{
  display: block;
}

.js, .js *{
  display: none !important;
}


/* ====================================================== */

/* ================================== about page styles */

.about-page{
  overflow: hidden !important;
  min-height: fit-content;
}

.about-wp{
  width: 100vw;
  display: grid;
  grid-template-columns: 43% 57%;
}

.about-title{
  margin: 2vh auto 0 auto;
  font-size: 11em;
  font-weight: 500;
  width: 90%;
  line-height: 100px;
}

.about-title span{
  font-family: var(--secondary-font);
}

.title-about-wp, .p-data-wp{
  width: 100%;
  height: inherit;
}

.p-data-wp{
  display: grid;
  grid-template-columns: 25% auto;
}

.title-cv, .parag-cv{
  font-weight: 500;
  margin: 0;
  font-family: var(--clash-display-variable);
}

.title-cv{
  text-transform: uppercase;
  font-size: 20px;
}

.parag-testimonial{
  width: 90%;
  font-weight: 500;
  font-size: 30px;
  margin: 0;
}

.parag-cv{
  width: 90%;
  font-size: 40px;
}

.work-pos-wp{
  font-family: var(--clash-display-variable);
  margin-top: 60px;
  font-weight: 500;
  font-size: 20px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 50px;
  place-items: center;
}

.cv-job{
  font-size: 20px;
  margin: 0;
  font-weight: 500;
}

.cv-grid{
  display: grid;
  grid-template-columns: 30% 60%;
}

.services-grid{
  display: grid;
  grid-template-columns: repeat(3, 30%);
}

.parag-cv-wp ul{
  padding: 20px;
  width: 90%;
}

.parag-cv-wp ul li{
  font-weight: 500;
  font-size: 20px;
}

.personal-img-wp{
  width: 90%;
  margin: 18.5vh auto 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80%;
  position: relative;
  overflow: hidden;
}

/* .serious-cta{
  font-family: var(--clash-display-variable);
  font-size: 20px;
  margin: 0 0 0 20px;
  text-transform: uppercase;
  font-weight: 500;
} */

hr{
  display: block;
  height: 1px;
  margin: 0;
  border: 0;
  border-top: 1px solid var(--default-lilac);
  width: 90%;
}

.personal-img{
  width: 17vw;
  height: 45vh;
  overflow: hidden;
  /* position: relative; */
  position: absolute;
  /* top: 0; */
  left: 0;
}

.img-sizes{
  position: absolute;
  top: -4vh;
  left: -12.5vw;
  border-radius: 10px;
  width: 800px;
  /* height: 700px; */
}

.text-wrapper h1{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.circle{
  display: block;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--default-bg-color);
}

/* ====================================================== */

/* ================================== navigation styles */

.navigation{
  position: fixed;
  bottom: 2.5vh;
  left: 50vw;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.menu-toggle{
  position: relative;
  width: 98px;
  height: 30px;
  background-color: var(--default-black);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-weight: 500;
  flex-direction: column-reverse;
  transition: all .5s, width .5s, height .5s;
  transition-timing-function: cubic-bezier(.98,.3,.3,.9);
}

.menu-toggle::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: all 250ms;
  z-index: -1;
  border-radius: 10px;
  background-color: var(--default-black);
}

.menu-toggle:hover::after{
  transform: scale(1.05);
}

.menu-toggle::before{
  color: var(--default-lilac);
  content: var(--menu-content);
  font-size: 20px;
  text-transform: uppercase;
  font-family: var(--cabinet-medium);
  transition: all .5s;
  font-weight: 500;
  position: absolute;
  bottom: 0;
}
/* 
.menu-toggle:hover::before{
  opacity: .8;
} */

.menu-toggle.active{
  width: 574px;
  height: 77px;
  border-radius: 10px;
}

.menu-toggle.active ul li{
  opacity: 1;
  display: block;
  font-weight: 500;
  margin: -30px 0 0 0;
  animation: dropDown 0.4s forwards;
  animation-delay: 600ms;
  animation-timing-function: cubic-bezier(.48,.3,.3,.9);
}

.menu-toggle ul{
  padding: 0 0 30px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.menu-toggle ul li{
  margin: 0;
  list-style: none;
  display: none;
  font-weight: 500;
}

.menu-toggle.active .nav-item{
  animation: showText forwards;
  animation-duration: .6s;
  margin: -10px 0 0 0;
}

.nav-item{
  font-size: 20px;
  text-transform: uppercase;
  color: transparent;
  text-decoration: none;
  font-weight: 500;
}

@keyframes dropDown {
  100%{
      color: transparent;
      margin-top: 0;
  }
}

@keyframes showText {
  0%{
      color: transparent;
  }80%{
      color: var(--default-lilac);
  }100%{
      color: var(--default-lilac);
  }
}

/* ======================================================= */

/* ================================== footer styles */
.p-abs-100{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-wp{
  padding-top: 20vh;
  width: 95vw;
  position: relative;
  margin: auto;
  height: 51vh;
}

.img-footer{
  width: 100%;
}

.data-footer-wp{
  display: grid;
  grid-template-columns: 35% 30% 35%;
  grid-template-areas: "piva social privacy";
  width: 100%;
  align-items: center;
  border-top: solid 1px var(--default-lilac);
}

.data-footer-wp p a{
  text-decoration: none;
  color: var(--default-lilac);
  font-size: 20px;
  font-family: var(--clash-display-variable);
  font-weight: 500;
  text-transform: uppercase;
}
.piva{
  grid-area: piva;
  width: 40%;
}
.social{
  grid-area: social;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  place-items: center;
}
.privacy{
  grid-area: privacy;
  text-align: right;
}

/* ================================================== */

/* ======================================= works wp styles */
/* .works-bg{
  width: 100vw;
  min-height: 100vh;
  padding: 50px 0;
  background-color: #121212;
  height: fit-content;
  position: absolute;
  top: 100vh;
  animation: showWorks .7s forwards cubic-bezier(.48,.3,.3,.9);
  z-index: 999;
  border-radius: 10px;
} */

@keyframes showWorks {
    to{
     top: 7vh;
    }
}

.cta-page-switch{
  margin-top: 8vh !important;
}

.cta-page-switch button{
  border: none;
  font-size: 65px;
  font-weight: 500;
  background-color: transparent;
  text-decoration: none;
  color: var(--default-lilac);
  cursor: pointer;
}

.cta-page-switch:nth-of-type(2){
  text-align: right;
}

.work-cta-wp, .works-desc-wp,.works-grid{
  width: 95vw;
  margin: auto;
}

.work-cta-wp{
  padding: 20vh 0 10vh 0;
}

.works-desc-wp{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.works-desc-wp p{
  margin: 0;
}

.work-subtitle{
  font-size: 14px;
  font-weight: 500;
}

.work-p{
  font-size: 40px;
  font-weight: 500;
}

/* different grids per page */

.works-grid{
  display: grid;
  gap: 10px;
  grid-template-areas: 
            "tlfirst trfirst"
            "second second"
            "tlthird trthird"
            "fourth fourth";
}

#cavallini{
  grid-template-areas:
            "topArea topArea"
            "second second" 
            "tlfirst trfirst"
            "tlthird trthird"
            "fourth fourth";
}

.tl-first-row,.tr-first-row,.second-row,.fourth-row,.tl-third-row,.tr-third-row, .top-extra-row{
  width: 100%;
  height: 80vh;
}

.tl-first-row img,.tr-first-row img,.second-row img,.fourth-row img,.tl-third-row img,.tr-third-row img, .top-extra-row img{
  width: 100%;
  max-height: 100%;
  margin: auto;
}

.top-extra-row{
  grid-area: topArea;
}

.tl-first-row{
  grid-area: tlfirst;
}

.tr-first-row{
  grid-area: trfirst;
}

.second-row{
  grid-area: second;
}

.tl-third-row{
  grid-area: tlthird;
}

.tr-third-row{
  grid-area: trthird;
}

.fourth-row{
  grid-area: fourth;
}

/* ========= */

/* ========================================================= */

/* =================================================== 404 styles */
.footer-not-found canvas{
  display: none !important;
}

.footer-not-found .footer-wp{
  padding: 20vh 0 0 0;
}

.wp-404{
  height: 80vh;
  width: 100vw;
  display: grid;
  justify-content: center;
}

.txt-wp-404{
  margin: 8vh 0 0 0;
  height: 50vh;
  width: 55vw;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  place-items: center;
}

.txt-wp-404 p{
  font-size: 30em;
  font-family: var(--secondary-font);
  text-align: center;
  margin: 0;
}

.balloon-wp-404{
  width: 100%;
  height: 100%;
}

.balloon-wp-404 > div{
  left: .5vw !important;
}

.logo-wp-404{
  width: fit-content;
  height: 8vh;
  display: grid;
  place-items: center;
  padding: 10px 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.logo-wp-404 img{
  width: 15vw;
}

/* =============================================================== */

/* =============================== home styles */
.f-home-section{
  height: 90vh;
  width: 95vw;
  margin: auto;
  margin-bottom: 30vh;
  position: relative;
}

.main-logo{
  width: 100%;
}

.main-logo-wp{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.main-title-wp{
  width: 40vw;
  height: 20vh;
  margin: -6vh auto auto auto;
  display: flex;
  flex-direction: column;
}

.main-title-wp div{
  margin: 0;
  width: 100%;
  text-align: center;
}

.main-title-wp p{
  margin: 0;
  line-height: 1;
}

.main-title-h{
  font-size: 4.375em;
  font-weight: 500;
}

.cursive-title-h{
  font-size: 50px;
  font-family: var(--secondary-font);
}

.subtitle-h{
  font-size: 1,25em;
  font-weight: 500;
}

.main-p-wp{
  width: 85vw;
  margin: 60vh auto;
}

.main-p-wp .text-anim-wp{
  width: 90%;
  margin: auto;
}

.main-img-wp{
  width: 85vw;
  margin: 30vh auto;
  height: 245vh;
  position: relative;
}

.main-img-wp img{
  position: absolute;
  transition: all 800ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-img-wp img:hover{
  /* border-radius: 50% !important; */
  border-radius: 17em !important;
}

.main-img-wp img:nth-of-type(1){
  width: 28vw;
  top: 0;
  left: 0;
}

.main-img-wp img:nth-of-type(2){
  width: 25vw;
  right: 0;
  top: 35vh;
}

.main-img-wp img:nth-of-type(3){
  width: 32vw;
  left: 10vw;
  top: 100vh;
}

.main-img-wp img:nth-of-type(4){
  width: 17vw;
  right: 15vw;
  top: 150vh;
}

.main-img-wp img:nth-of-type(5){
  width: 17vw;
  left: 5vw;
  bottom: 0;
}

.img-home{
  width: 60%;
}

.view-more{
  visibility: hidden;
  position: absolute;
  z-index: 1000;
}

.view-more .button-outline{
  background-color: white;
}

.p-num{
  font-family: var(--secondary-font);
  display: inline-block;
  margin: 0;
  padding: 0;
  height: inherit;
  width: 10%;
  font-size: 1.25em;
}

.circular-btn, .circular-btn-mob{
  width: 2.5vw;
  aspect-ratio: 1;
  border-radius: 50% !important;
  padding: 0 !important;
  margin: 0;
  position: absolute;
  background-color: var(--default-lilac);
  display: inline-block;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.circular-btn .material-symbols-outlined, .circular-btn-mob .material-symbols-outlined{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
  font-size: 1.7em;
}

.btnP-anim{
  animation: btn-rotation 1.3s cubic-bezier(.98,.3,.3,.9) forwards;
  animation-delay: 1s;
}

@keyframes btn-rotation {
  from{
    left: 45%;
    transform: translate(-50%, -50%) rotate(0deg);
  }to{
    left: 60%;
    transform: translate(-50%, -50%) rotate(720deg);
  }
}

.main-p-wp .parag-cv{
  font-size: 3.825em;
  transform: translateY(3em) rotate(3deg);
  width: 100%;
}

.main-p-wp .text-anim-wp:first-of-type .parag-cv{
  width: 90%;
}

.main-p-wp .text-anim-wp:last-of-type{
  position: relative;
}

.main-p-wp .text-anim-wp:last-of-type .parag-cv{
  width: fit-content;
}

.a-35{
  animation-duration: 35s;
}

.a-40{
  animation-duration: 40s;
}

.a-50{
  animation-duration: 50s;
}

/* ========================================== */

/* ========================================== form styles */

.form-wrapper {
  width: 95vw;
  margin: auto;
}

.form-title {
  font-size: 55px;
  font-weight: 500;
  font-family: var(--clash-display-variable);
  text-align: center;
  width: 100%;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 3%;
  align-items: flex-end;
}

.title-form {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  font-family: var(--clash-display-variable);
}

.form-item {
  margin-top: 10px;
  height: 40px;
  border: solid 1px;
  border-color: var(--default-lilac);
  outline: none;
  background-color: var(--default-bg-color);
}

.form-button {
  width: 45px;
  aspect-ratio: 1;
  border-color: transparent;
  border-radius: 50%;
  background-color: var(--default-lilac);
  cursor: pointer;
}

.material-symbols-outlined {
  color: white;
}

.agree-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  height: 21px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  aspect-ratio: 1;
  background-color: var(--default-bg-color);
  border: solid 1px var(--default-lilac);
  border-radius: 2px;
}

.container:hover input~.checkmark {
  background-color: var(--default-bg-color);
}

.container input:checked~.checkmark {
  background-color: var(--default-lilac);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked~.checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid var(--default-bg-color);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ======================================= */

/* ========================================== responsive styles*/

@media screen and (max-width: 1400px) {
  #view-more{
    display: none;
  }
}

@media screen and (max-width: 700px) {
  /* responsive general styles */
  ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: var(--default-lilac);
  }
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: var(--default-lilac);
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: var(--default-lilac);
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: var(--default-lilac);
  }
  input::placeholder {
    color: var(--default-lilac);
  }
  .mobile-hidden{
    display: none;
  }
  .text-wrapper.mtb-200{
    margin: 100px 0;
  }
  .cta-wp{
    display: none;
  }

  /* responsive about */
  .img-sizes{
    left: -65vw;
    top: -7vh;
    width: 900px;
  }
  .personal-img{
    width: 90vw;
    height: 60vh;
  }
  .desk-hidden{
    display: block !important;
  }
  .about-wp, .p-data-wp{
    display: block;
  }
  .p-data-wp{
    width: 90%;
    margin: auto;
  }
  .about-title{
    font-size: 120px;
    line-height: 80px;
  }
  .personal-img-wp{
    flex-direction: column-reverse;
    margin: 5vh auto 20vh auto;
  }
  .personal-img-wp .fl-bot{
    justify-content: flex-start;
    align-items: flex-start;
  }
  .serious-cta{
    margin: 10px 0;
  }
  .parag-cv, .parag-testimonial{
    font-size: 28px;
    width: 100%;
  }
  .title-cv{
    margin: 20px 0;
  }
  .cv-grid{
    display: block;
  }
  .cv-job:nth-child(odd){
    margin: 10px 0;
  }
  .cv-job:nth-child(even){
    margin: 0 0 50px 0;
  }
  .parag-cv-wp{
    margin-top: 40px;
  }
  .work-pos-wp{
    display: none;
  }
  .services-grid{
    grid-template-columns: repeat(2,1fr);
  }
  .services-grid .cv-job{
    margin: 10px 0;
  }
  hr{
    margin: 40px 0;
    width: 100%;
    border-top: 2px solid var(--default-lilac);
  }
  .text-wrapper > h1{
    font-size: 30px;
  }
  .circle{
    width: 20px;
  }
  .title-cv-wp.mt-120{
    margin-top: 70px !important;
  }

  /* responsive navbar */

  .menu-toggle.active{
    max-width: 98vw;
  }
  .menu-toggle::before{
    margin-bottom: 5px;
  }
  .nav-item, .menu-toggle::before{
      font-size: 16px;
  } 

  /* responsive form */

  .form-title{
    font-size: 30px;
  }
  .form-grid{
    grid-template-columns: 100%;
  }
  .form-item{
    margin: 0;
  }
  .agree-wrapper{
    flex-wrap: nowrap;
  }
  .title-form{
    font-size: 17px;
  }

  /* responsive footer */
  .data-footer-wp{
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "piva privacy"
                         "social social";
  }
  .social, .data-footer-wp{
    border-top: solid 2px var(--default-lilac);
  }

  /* responsive home */
  .main-img-wp{
    display: grid;
    grid-template-columns: 100%;
    row-gap: 10vh;
    width: 90vw;
    height: fit-content;
  }

  .main-p-wp{
    width: fit-content;
    margin: auto;
  }

  .main-img-wp .img-home{
    display: block;
    position: initial;
    width: 100% !important;
  }

  .parag-cv-wp{
    width: 90vw;
  }

  .parag-cv, .main-p-wp .text-anim-wp:first-of-type .parag-cv, .p-num{
    font-size: 1.625rem !important;
    width: 100%;
  }

  .main-p-wp .text-anim-wp{
    width: 100%;
  }

  .p-num{
    margin: 0 0 12vh 0;
  }

  .circular-btn-wp-mobile{
    display: grid !important;
    grid-template-columns: 15vw auto 45vw;
    align-items: center;
    margin-top: 5vh;
  }

  #learn-more-p{
    width: fit-content;
    font-size: 1.3rem;
    margin: 0;
    font-weight: 500;
  }

  .circular-btn-mob{
    width: 12vw;
    position: initial;
    transform: translate(0);
  }

  .row{
    width: 90%;
    height: 2px;
    background-color: var(--default-lilac);
    margin: 0 auto;
  }

  .main-title-wp{
    width: 100%;
    margin: 5vh 0 0 0;
    position: relative;
    height: 70vh;
  }

  .main-title-h, .cursive-title-h{
    font-size: 2rem;
    line-height: 1.5;
  }

  .cursive-title-h{
    width: 100%;
    display: inline-block;
  }

  .main-logo-wp{
    bottom: 12vh;
  }

  .subt-wp{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}