/* BOTTOM NAVIGATION STYLES */
.navigation{
    position: fixed;
    bottom: 4vh;
    left: 50vw;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-toggle{
    position: relative;
    width: 98px;
    height: 30px;
    background-color: var(--default-black);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transform: translateY(-30px);
    font-weight: 500;
    flex-direction: column-reverse;
    transition: all .5s, width .5s, height .5s;
    transition-timing-function: cubic-bezier(.98,.3,.3,.9);
}

.menu-toggle::before{
    color: var(--default-lilac);
    content: var(--menu-content);
    font-size: 20px;
    text-transform: uppercase;
    font-family: var(--cabinet-medium);
    transition: all .5s;
    font-weight: 500;
    position: absolute;
    bottom: 0;
}

.menu-toggle:hover::before{
    opacity: .8;
}

.menu-toggle.active{
    width: 574px;
    height: 77px;
    border-radius: 10px;
}

.menu-toggle.active ul li{
    opacity: 1;
    display: block;
    font-weight: 500;
    margin: -30px 0 0 0;


    animation: dropDown 0.1s forwards;
    animation-delay: 600ms;
    transition-timing-function: cubic-bezier(.98,.3,.3,.9);
}

.menu-toggle ul{
    padding: 0 0 30px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu-toggle ul li{
    list-style: none;
    opacity: 0;
    display: none;
    font-weight: 500;
}

.menu-toggle.active .nav-item{
    animation: showText forwards;
    animation-duration: .6s;
    margin: -10px 0 0 0;
}

.d-100{
    animation-delay: 500ms !important;
}
.d-200{
    animation-delay: 550ms !important;
}
.d-300{
    animation-delay: 600ms !important;
}
.d-400{
    animation-delay: 650ms !important;
}

.nav-item{
    font-size: 20px;
    text-transform: uppercase;
    color: transparent;
    text-decoration: none;
    font-weight: 500;
}

@keyframes dropDown {
    100%{
        margin: 0;
    }
}

@keyframes showText {
    0%{
        color: transparent;
    }80%{
        color: var(--default-lilac);
    }100%{
        color: var(--default-lilac);
    }
}