/* BOTTOM NAVIGATION STYLES */
.navigation{
    position: fixed;
    bottom: 4vh;
    left: 50vw;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-toggle{
    position: relative;
    width: 98px;
    height: 30px;
    background-color: var(--default-black);
    /* border: solid 5px var(--default-bg-color); */
    border-radius: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transform: translateY(-30px);
    font-weight: 500;
}

.menu-toggle::before{
    color: var(--default-lilac);
    content: var(--menu-content);
    font-size: 20px;
    text-transform: uppercase;
    font-family: var(--cabinet-medium);
    transition: all .5s;
    font-weight: 500;
}

.menu-toggle:hover::before{
    opacity: .8;
}

.menu{
    position: absolute;
    top: -77px;
    width: 0px;
    height: 0px;
    max-width: 90vw;
    border-radius: 10px;
    background-color: var(--default-black);
    transform-origin: bottom;
    transition: transform .5s, width .7s, height .7s;
    transition-delay: 1s,0.5s,0.5s;
    font-weight: 500;
}

.menu-toggle.active ~ .menu{
    width: 574px;
    height: 77px;
    transition-delay: 0s, .7s, .7s;
    transform-origin: bottom;
}

.menu-toggle.active ~ .menu ul li{
    opacity: 1;
    visibility: visible;
    transition-delay: 1s;
    font-weight: 500;
}

.menu ul{
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* line-height: 77px; */
}

.menu ul li{
    list-style: none;
    opacity: 0;
    visibility: hidden;
    transition: .25s;
    transition-delay: .5s;
    font-weight: 500;
}

.nav-item{
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--default-lilac);
    font-weight: 500;
}

@media screen and (max-width: 700px) {
    .nav-item, .menu-toggle::before{
        font-size: 16px;
    }
}